# Obsidian
.obsidian/*.json
.obsidian/workspace*
.obsidian/graph.json
.obsidian/command-palette.json
.obsidian/starred.json
.obsidian/hotkeys.json

# Attachments
99-attachments/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables - never commit secrets
*.env
